<div class="fixed-top">
  <nav class="navbar bg-white shadow mb-4 topbar navbar-light w-100 navbar-expand-lg fixed-top">
    <div class="container-fluid bg-white">

      <!-- ***** Logo start ***** -->
      <a href="#" class="navbar-brand logo">9adhyty</a>
      <!-- ***** Logo End ***** -->

      <!-- ***** Toggle Button for Mobile ***** -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- ***** Menu Start ***** -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto pe-3">
          <ng-container *ngIf="isLoggedIn()">
          <li class="nav-item d-lg-none mb-3">
            <!-- Show this on small screens only -->
            <a class="nav-link dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">
              <img class="border rounded-circle img-profile" src="/assets/img/team1.jpg" alt="ss">
              <span class="d-inline me-2 small">{{ userDetails.other.fullname }}</span>
            </a>
            <div class="dropdown-menu  animated--grow-in">
              <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 "></i>&nbsp;Profile</a>
              <a class="dropdown-item" routerLink="settings/account-details"><i
                class="fas fa-cogs fa-sm fa-fw me-2 "></i>&nbsp;Settings</a>
              <a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 "></i>&nbsp;Activity log</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
            </div>
          </li>
          </ng-container>
        
          <!--        </ul>-->
          <ng-container *ngIf="isLoggedIn()">
            <!--            notification avatar-->
            <li class=" nav-item dropdown no-arrow mx-1  d-none d-lg-inline">
              <div class="nav-item dropdown no-arrow">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown">
                  <span
                    class="badge bg-danger badge-counter">3</span>
                  <span class="iconify" data-icon="iconamoon:notification-duotone" data-width="23"
                        data-height="23"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in ">
                  <h6 class="dropdown-header custom-bg-color-1">alerts center</h6><a
                  class="dropdown-item d-flex align-items-center"
                  href="#">
                  <div class="me-3">
                    <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 12, 2019</span>
                    <p>A new monthly report is ready to download!</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="me-3">
                    <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 7, 2019</span>
                    <p>$290.29 has been deposited into your account!</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="me-3">
                    <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 2, 2019</span>
                    <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                  </div>
                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
              </div>
            </li>
            <!--            messages avatar-->
            <li class=" nav-item dropdown no-arrow mx-1   d-none d-lg-inline">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                         data-bs-toggle="dropdown" href="#"><span
                class="badge bg-danger badge-counter">7</span>
                <span class="iconify" data-icon="ic:twotone-message" data-width="23" data-height="23"></span>
              </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                  <h6 class="dropdown-header custom-bg-color-1">alerts center</h6><a
                  class="dropdown-item d-flex align-items-center"
                  href="#">
                  <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                             src="/assets/img/team1.jpg">
                    <div class="bg-success status-indicator"></div>
                  </div>
                  <div class="fw-bold">
                    <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span>
                    </div>
                    <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                             src="/assets/img/team1.jpg" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div class="fw-bold">
                    <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                    <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                             src="/assets/img/team1.jpg">
                    <div class="bg-warning status-indicator"></div>
                  </div>
                  <div class="fw-bold">
                    <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span>
                    </div>
                    <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                             src="/assets/img/team1.jpg">
                    <div class="bg-success status-indicator"></div>
                  </div>
                  <div class="fw-bold">
                    <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span>
                    </div>
                    <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                  </div>
                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
              </div>
              <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
            </li>
            <div class=" d-sm-block topbar-divider"></div>
            <!--            profile avatar-->
            <li class="nav-item d-none d-lg-inline">
              <!-- Hide the dropdown menu on small screens -->
              <a class="nav-link dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                <span class="d-none d-lg-inline me-2 small">Hey, {{ userDetails.other.fullname }} </span>
                <img class="border rounded-circle img-profile" src="/assets/img/team1.jpg">
              </a>
              <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                <a class="dropdown-item" routerLink="/profile"><i class="fas fa-user fa-sm fa-fw me-2 "></i>&nbsp;Profile</a>
                <a class="dropdown-item" routerLink="/settings/account-details"><i
                  class="fas fa-cogs fa-sm fa-fw me-2 "></i>&nbsp;Settings</a>
                <a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 "></i>&nbsp;Activity log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()"><i
                  class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
              </div>
            </li>
          </ng-container>


          <ng-container *ngIf="!isLoggedIn()">
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="/user/login">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="/user/register">Register</a>
            </li>
          </ng-container>
        </ul>

      </div>
    </div>
  </nav>
</div>
