<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="fullName">Nom complet :</label>
      <input type="text" id="fullName" formControlName="fullName">
      
    </div>
    <div>
      <label for="email">Email :</label>
      <input type="email" id="email" formControlName="email">
      
    </div>
    <div>
      <label for="address">Adresse :</label>
      <textarea id="address" formControlName="address"></textarea>
    
    </div>
    <!-- Autres champs de la commande -->
    <button type="submit">Passer commande</button>
  </form>