<app-navbar></app-navbar>

<div class="container mt-5">
	<h2>Commande</h2>
	<div>
		<div class="row">
			<div class="col-md-8">
				<div class="card mb-3" >
					<div class="row no-gutters">
						
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Email :  ness@gmail.com</h5>
								<p class="card-text">nom : ness</p>

								<h3> commande valider avec succes</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">

				
			</div>
		</div>
	</div>
	
</div>