
<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  

	<div class="main">  	
   
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				
			</div>

			<div class="login">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="">
					<label for="chk" aria-hidden="true">Login</label>
                                                                <input
                                                    type="text"
                                                    placeholder="email"
                                                    class="form-control"
                                                    name="email"
                                                    formControlName="email"
                                                    required
                                                    >
                                                   
                                                    <input
                                                    type="password"
                                                    class="form-control"
                                                    name="password"
                                                    formControlName="password"
                                                    required
                                                    placeholder="password"
                                                    minlength="6"
                                                   >
					<button>Login</button>
                  
                      
                      <button routerLink="/register">S'inscrire ?</button>
                    </form>
                
                   
                  
			</div>
	</div>
 
</body>
</html>
<!-- partial -->

